In [1]:
print("" % ())          # OLD Style
print("{}".format(""))  # New Style

In [2]:
print("{} and {}".format("cat", "mouse"))
print("{} and {}".format(213, "mouse"))
print("{} and {}".format(213.0, True))
print("{} and {}".format(None, True))

cat and mouse
213 and mouse
213.0 and True
None and True

In [3]:
print("{} and {}".format(None, True))
print("{0} and {1}".format(None, True))
print("{1} and {0}".format(None, True))

None and True
None and True
True and None

In [4]:
print("{0} and {0}".format(None))

None and None

In [5]:

print("{1} and {1}".format(None, True))

True and True

In [6]:
print("{}".format(1234567890.88))       # 1234567890.88
print("{:}".format(1234567890.88))      # 1234567890.88
print("{:,}".format(1234567890.88))     # 1,234,567,890.88
print("{:_}".format(1234567890.88))     # 1_234_567_890.88
print("{:-}".format(1234567890.88))     # 1234567890.88
print("{:+}".format(1234567890.88))     # +1234567890.88
print("{:+}".format(-1234567890.88))    # -1234567890.88

1234567890.88
1234567890.88
1,234,567,890.88
1_234_567_890.88
1234567890.88
+1234567890.88
-1234567890.88

In [7]:

# similar to str.zfill()
print("{:=10}".format(12348))   #      12348
print("{:0=10}".format(12348))  # 0000012348
print("{:a=10}".format(12348))  # aaaaa12348

     12348
0000012348
aaaaa12348

In [8]:
# Alignment
print("{:<20}".format("left aligned"))      # 'left aligned        '
print("{:>20}".format("right aligned"))     # '       right aligned'
print("{:^20}".format("centered"))          # '      centered      '
# with fill character
print("{:-^20}".format("centered"))  # '------centered------'
print("{:*^20}".format("centered"))  # '******centered******'

left aligned
       right aligned
      centered
------centered------
******centered******

In [9]:
import math

In [10]:
math.pi

3.141592653589793

In [11]:
print("math.pi", math.pi)    # 3.141592653589793
print("{}".format(math.pi))  # 3.141592653589793

# print('{:d}'.format(math.pi))
print("{:f}".format(math.pi))  # 3.141593
print("{:F}".format(math.pi))  # 3.141593
print("{:g}".format(math.pi))  # 3.14159

math.pi 3.141592653589793
3.141592653589793
3.141593
3.141593
3.14159

In [12]:
print("Name:{} Age:{} Salary:{}".format("udhay", 99, 9999.9999))

Name:udhay Age:99 Salary:9999.9999

In [13]:
print(
    '''
        Name  :{}
        Age   :{}
        Salary:{}'''.format(
        "udhay", 99, 9999.9999
    )
)

        Name  :udhay
        Age   :99
        Salary:9999.9999

In [14]:
print(
    """
        Name  :{0}
        Age   :{1}
        Salary:{2}""".format(
        "udhay", 99, 9999.9999
    )
)#      0         1     2

        Name  :udhay
        Age   :99
        Salary:9999.9999

In [15]:
print(
    """
        Name  :{0} Name  :{0} Salary:{2}
        Age   :{1} Name  :{0}
        Salary:{2}""".format(
        "udhay", 99, 9999.9999
    )
)
#                               0      1     2

        Name  :udhay Name  :udhay Salary:9999.9999
        Age   :99 Name  :udhay
        Salary:9999.9999

In [16]:
print(
    """
        Name  :{1} Name  :{1} Salary:{1}
        Age   :{1} Name  :{1}
        Salary:{1}""".format(
        "udhay", 99, 9999.9999
    )
)
#       0      1     2

        Name  :99 Name  :99 Salary:99
        Age   :99 Name  :99
        Salary:99

In [17]:
print(
    """
        Name  :{NAME} Name  :{NAME} Salary:{SALARY}
        Age   :{AGE} Name  :{NAME}
        Salary:{SALARY}""".format(
        NAME="udhay", AGE=99, SALARY=9999.9999
    )
)

        Name  :udhay Name  :udhay Salary:9999.9999
        Age   :99 Name  :udhay
        Salary:9999.9999

In [18]:
print(NAME) # NameError: name 'NAME' is not defined

NameError: name 'NAME' is not defined

In [20]:
# Method 1
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!!!
         """.format(
        customer="Vijay Malya",
        accound_last_4_digits=1134,
        transaction_amount="20.5 crores",
        transaction_time="12th June 1947 12:34:45",
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!!!

In [21]:
# Method 2
result = {
    "customer": "Vijay Malya",
    "accound_last_4_digits": 1134,
    "transaction_amount": "20.5 crores",
    "transaction_time": "12th June 1947 12:34:45",
}

print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format(
        **result  # dictionary unpacking
    )
)# mydict = {'a': 1, 'b': 2} => **mydict ==>  a =1, b=2

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

In [22]:
# Method 3
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format_map(
        result
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!